---
import NavBar from "../components/Navbar.astro";
import { NavItem, newNavItem } from "../components/Navbar.astro";

export interface Props {
	title: string;
}

const { title } = Astro.props as Props;

const links: NavItem[] = [
	newNavItem("/", "Home"),
	newNavItem("/about/", "About"),
	newNavItem("/artists/", "Artists"),
	newNavItem("/news/", "News"),
	newNavItem("/events/", "Events"),
	newNavItem("/contact/", "Contact"),
]
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="navbar-container">
			<NavBar {links}/>
		</div>
		<slot />
	</body>
</html>
<style>
	:root {
		--color-text: hsl(12, 5%, 4%);
		--color-bg: hsl(10, 21%, 95%);
		--color-border: hsl(17, 24%, 90%);
	}

	html {
		font-family: system-ui, sans-serif;
		font-size: var(--font-size-base);
		color: var(--color-text);
		background-color: var(--color-bg);
	}

	body {
		overflow: hidden;
		margin: 0;
		padding: 0;
		background-image: -webkit-radial-gradient(
			right bottom,
			circle farthest-corner,
			#2C3163 0%,
			#FA824C 50%,
			#8332AC 100%
		);

		max-height: 100vh;
		height: 100vh;
	}

	:global(h2) {
		font-size: var(--font-size-lg);
	}

	:global(code) {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

	.navbar-container {
		padding: 1rem;
		display: flex;
		flex-direction: row;
		padding-inline: 10%;
	}

    @media only screen and (min-width: 800px) {
		.navbar-container {
			padding: 1rem;
			display: flex;
			flex-direction: row;
			padding-inline: 25%;
		}
    }
    
</style>
